@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SongBook</h1>
 
    
<div class="row">
    <div class="col-md-12">
        <p>
           SongBook is an easy way to track your live music viewing.  Store all the important inforamation about the band,venue,and set list. 
        </p>
    </div>
    </div>
    </div>
<div class="row row-glow">
    <div class="col-md-6">
        <img src="~/Content/Assests/glow1.jpg" style="height:420px";/>
        </div>
    <div class="col-md-6">
        <h2> library of live perfomances. First create bands, then create a shows with the bands, and add songas to the shows! </h2>
    </div>
</div>
        
   

<div class="row row-jambase"> 
    <div class="col-md-6">
        <h3>Find shows near you!</h3>
        <p><a class="btn btn-jambase" href="https://jambase.com"> <img src="~/Content/Assests/JamBaseLogo.jpg" height="50" > </a></p>
    </div>
    </div>
    
<div class="row row-nugs">
    <div class="col-md-6">
        <h3>Find live recordings!</h3>
        <p><a class="btn btn-nugs" href="https://nugs.net"> <img src="~/Content/Assests/NugsLogo.jpg" height="50"></a></p>
    </div>
    </div>