body {
    padding-top: 50px;
    padding-bottom: 20px;
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.body-content{
    background-color:black;
  
    
}

.body-content h2 {
    color: #A2E3C4;
}

.table {
    background-color: white;
    color: #A2E3C4;
    height: 500px;
    font-size: 30px;
}

.table th {
    height:100px;
    font-size:20px;
}

.table th, td{
    border:1px solid black;
    width:50px;
}



.jumbotron h1 {
    text-align: left;
    font-size: 85px;
    font-family:Rockwell;
    color: #A2E3C4;
}
.jumbotron p {
    text-align: left;
    font-family: Arial;
    color: #7E8d85;
}

#footer {
    text-align:left;
}



.row-glow h2 {
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    padding-top: 3em;
    color: #7E8d85;
}
.row-jambase {
    color: #7E8d85;
}

.row-nugs {
    color: #7E8d85;
}

.card-band {
    background-color: white
}

.form-control{
    border-radius:20px;
    background-image:url("Assests/glow1.jpg");
    color:#A2E3C4;
    font-family:Elephant;
}




.btn-default{
    background-color:black;
}

.form-horizontal .form-group{
    margin-left:250px;
    margin-top:50px;
}

.form-horizontal{
    background-image:url("Assests/GravelTexture.jpg");
    height:500px;
}
.control-label{
    color:#F0F7F4;
}

.dl-horizontal {
    background-image: url("Assests/BlackTexture.jpg");
    color:#F0F7F4;
    margin-top:100px;
    margin-bottom:100px;
    padding:50px 50px;
    font-size:25px;
}

.table tr{
    font-family:'Century Schoolbook';
    background-image:url(Assests/GravelTexture.jpg);
    width:100%;
}

.container{
   width:100%
}
.table-show {
    background-image: url("Assests/GravelTexture.jpg");
    color: #A2E3C4;
    height: 500px;
    font-size: 50px;
    width:100%;
    margin-bottom:20px;
    font-family:'Cambria Math';
}

.table-show th {
    height: 100px;
    font-size: 20px;
}

.table-show th, td {
    border: 1px solid black;
    width: 50px;
}
.container-details {
    border: 5px solid black;
    background-image:url("Assests/GravelTexture.jpg");
    color: #A2E3C4;
    text-shadow:3px 4px 2px black;
    max-width:100%;
    width:100%;
    height:100px;
    
}
.navbarCollapse{
    color:black;
}


.navbar-nav {
    float: right;
    margin: 0;
}

.container-phish {
    background-image: url("Assests/Phish1.jpg");
    border: 5px solid black;
    max-width: 100%;
    width: 100%;
    height: 100px;
}

.container-filler h2{
    background-image:url("Assests/BlackTexture.jpg");
    width:100%;
    height:100%;
}





    

